:root {
    --blue-variant: rgb(25, 25, 135);
    --orange-base: #ef7f1a;
}

@font-face {
    font-family: "DMSerif";
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

.bg-header {
    font-family: "DMSerif";
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 458px;
    background-image: url(../svgs/bg-principal.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-health {
    font-family: "DMSerif";
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 458px;
    background-image: url(../svgs/bg-health.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-header span {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.bg-header article {
    margin: 15px;
}

.bg-header p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bg-health span {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.bg-health article {
    margin: 15px;
}

.bg-health p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 1338px) {
    .bg-header {
        background-position: center;
        align-items: flex-end;
        padding-bottom: 5rem;
    }
}

.nav-link:hover {
    border-bottom: 2px solid var(--blue-variant) !important;
}
