:root {
    --orange-base: #ef7f1a;
    --green-base: rgb(19, 85, 60);
    --grey-variant: #888;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--grey-variant);
}

@font-face {
    font-family: "DMSerif";
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

.bg-header,
.bg-health,
.bg-education {
    font-family: "DMSerif";
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 458px;
    background-image: url(../svgs/bg-principal.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-health {
    background-image: url(../svgs/bg-health.svg);
}

.bg-education {
    background-image: url(../svgs/bg-education.svg);
}

.bg-header span,
.bg-health span,
.bg-education span {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.bg-header article,
.bg-health article,
.bg-education article {
    margin: 15px;
}

.bg-header p,
.bg-health p,
.bg-education p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 1338px) {
    .bg-header,
    .bg-health,
    .bg-education {
        background-position: center;
        align-items: flex-end;
        padding-bottom: 5rem;
    }
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.display-4 {
    font-family: "Ubuntu" !important;
}

.config-space div article {
    padding: 10px 0;
}

ol a {
    font-family: "Ubuntu";
    text-decoration: none;
    color: green;
}

ol a:hover {
    color: var(--green-base);
}

ol li {
    margin: 5px;
}

.div-max {
    margin: 0 10rem;
}

@media (max-width: 1399.98px) {
    .div-max {
        margin: 0 6rem;
    }
}

@media (max-width: 767.98px) {
    .div-max {
        margin: 0 0.5rem;
    }
}
